**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
target/
.nb-gradle/
src/main/java/tibiamining/Biridin.java
src/main/java/tibiamining/Biridin.java
